@inherits LayoutComponentBase
@inject User User

<div class="page">
    <div class="sidebar">

        @if (User.IsLoggedIn)
        {
            <NavMenu />
        }
        else 
        {
            <NavMenuOffline />
        }

    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
