@page "/about"

@using System.Text.RegularExpressions
<center><h1>Powered by Django Rest Framework</h1></center>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Tietoja Sovelluksesta</h1>
            <p class="lead">Tämä sovellus on vielä kehitysvaiheessa. Olemme innoissamme voidessamme jakaa tämän ensimmäisen version kanssasi, mutta tulevaisuudessa on vielä paljon parannuksia ja uusia ominaisuuksia tulossa.</p>

            <h3>Ota Yhteyttä</h3>
            <p>Jos sinulla on kysyttävää, palautetta tai haluat keskustella sovelluksesta, voit ottaa yhteyttä kehittäjään seuraavilla tavoilla:</p>

            <ul>
                <li><strong>Sähköposti:</strong> <a href="mailto:pekkala.jani@gmail.com">pekkala.jani@gmail.com</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/Jaspak1778" target="_blank">github.com/Jani Pekkala</a></li>
            </ul>

            <h3>Social Elefant</h3>
            <p>Tämä sovellus on aloitettu ja se on edelleen aktiivisesti kehitteillä. Tässä vaiheessa voit kokeilla perusominaisuuksia, mutta tiedostathan, että uusia ominaisuuksia ja parannuksia lisätään jatkuvasti.</p>

            <p><strong>Appin nykyiset ominaisuudet:</strong></p>
            <ul>
                <li>Käyttäjien kirjautuminen ja rekisteröinti</li>
                <li>Julkaisujen katselu ja kommentointi</li>
                <li>Julkaisujen tykkääminen</li>
            </ul>

            <p><strong>Tulevat ominaisuudet:</strong></p>
            <ul>
                <li>Parannettu käyttöliittymä</li>
                <li>Kehittyneempi kommentointijärjestelmä</li>
                <li>Yksityisviestit ja ilmoitukset</li>
            </ul>

            <h3>Tukijärjestelmät ja Dokumentaatio</h3>
            <p>Jos haluat tarkempia teknisiä tietoja sovelluksen taustajärjestelmistä tai koodista, löydät dokumentaatiota GitHub-sivulta. Pyrin julkaisemaan dokumentaation ja API-kuvaukset tulevaisuudessa.</p>

            <h3>Huomioita ja Kiitokset</h3>
            <p>Haluan kiittää kaikkia käyttäjiä ja kehittäjiä, jotka ovat auttaneet projektin alkuun pääsemisessä. Projektin taustalla on monia avoimen lähdekoodin kirjastoja ja työkaluja, ja arvostamme niitä kovasti.</p>

            <p>Jos haluat osallistua kehitystyöhön tai antaa palautetta, älä epäröi ottaa yhteyttä!</p>
        </div>
    </div>
</div>

@code {
}
