@page "/login"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject User User
@inject TokenService Token

<div class="container">
    <h1>Kirjaudu</h1>

    <form class="login-form" @onsubmit="Logins">
        <div class="input-container">
            <InputText class="box" id="user" name="user" @bind-Value="username" required />
            <label for="user" class="floating-label">Käyttäjänimi</label>
        </div>

        <div class="input-container">
            <InputText class="box" id="pass" @bind-Value="password" type="password" required />
            <label for="pass" class="floating-label">Salasana</label>
        </div>

        <button class="custom-button" type="submit">
            Kirjaudu
        </button>
    </form>

    <div class="signup-link">
        <a href="signup">Uusi käyttäjä? Luo tunnukset</a>
    </div>
</div>

@code {

    private string? username;
    private string? password;
    private string? announcer;

    private bool showFail = false;

    //LOGIN URI

    private const string LoginUri = ApiCallerUri.Login;

    //USERS URI

    private const string UsersUri = ApiCallerUri.Users;

    protected override async Task OnInitializedAsync()
    {

    }


    private async Task Logins()
    {

        var loginData = new

        {
            username = username,
            password = password
        };

        var json = JsonSerializer.Serialize(loginData);
        var content = new StringContent(json, Encoding.UTF8, "application/json");
        // Yllä on logindata joka on muutettu JSON muotoon ja joka lisätään bodyyn

        var response = await Http.PostAsync(LoginUri, content);
        if (response.IsSuccessStatusCode)

        {
            var message = response.Content;
            var responseContent = await response.Content.ReadAsStringAsync();
            var user = JsonSerializer.Deserialize<User>(responseContent);
            if (user != null)

            {


                announcer = "Kirjauduttu sisään..";
                User.ShowAlert = true;
                await FetchUserDetails();

            }
            else

            {
                showFail = true;
                announcer = "Kirjautuminen epäonnistui: Käyttäjä ei löytynyt.";
            }

        }
        else
        {
            showFail = true;
            announcer = "Väärä tunnus tai salasana, tarkista!";
            Console.WriteLine("Kirjautuminen epäonnistui.");
        }
    }
    private async Task FetchUserDetails()
    {

        var userResponse = await Http.GetAsync("https://djangorestapiv3.azurewebsites.net/api/users/");

        if (userResponse.IsSuccessStatusCode)
        {
            var userContent = await userResponse.Content.ReadAsStringAsync();
            var userDetailsList = JsonSerializer.Deserialize<List<User>>(userContent);
            var userDetails = userDetailsList?.FirstOrDefault();
            if (userDetails != null)

            {
                User.username = userDetails.username; // Aseta käyttäjänimi
                User.id = userDetails.id;         // Aseta käyttäjän ID
                User.IsLoggedIn = true;                // Aseta kirjautumistila

                Console.WriteLine($"Kirjautunut käyttäjä: {userDetails.username}, Etunimi: {userDetails.first_name}, Sukunimi: {userDetails.last_name}");
                Navigation.NavigateTo("/");
                await GetToken();
            }
            else
            {
                Console.WriteLine("Käyttäjän tietojen hakeminen epäonnistui: Käyttäjä ei löytynyt.");
            }
        }
        else
        {
            Console.WriteLine("Käyttäjän tietojen hakeminen epäonnistui.");
            Navigation.NavigateTo("/");
        }

    }
    private async Task GetToken()
    {
        var csrfToken = await Token.GetCsrfTokenAsync();
        Console.WriteLine("Token");
    }
}